// layout
$full: 100%;
$max-width: 1100px;
$center: '0 auto';

// position
$top: 0;
$left: 0;
$z-index: 1000;

// font-size
$font-xsmall: 10px;
$font-small: 12px;
$font-medium: 14px;
$font-regular: 16px;
$font-big: 20px;
$font-bigger: 30px;
$font-biggest: 70px;
